# Force GitHub to detect Dart
*.ruby linguist-detectable=true

# Ignore CMake files
CMakeLists.txt linguist-detectable=false
*.cmake linguist-detectable=false

# Also ignore C++ files if needed
*.html linguist-detectable=false
*.h linguist-detectable=false
