<h1>Editing philosopher</h1>

<%= render "form", philosopher: @philosopher %>

<br>

<div>
  <%= link_to "Show this philosopher", @philosopher %> |
  <%= link_to "Back to philosophers", philosophers_path %>
</div>
