<div style="padding-top: 10px;">
  <h3>Update User Details</h3>
</div>

<%= render "form", user: @user %>

<div style="padding-top: 10px;">
  <%= link_to "Show this user", @user %> |
  <%= link_to "Back to users", users_path %>
</div>