<div id="<%= dom_id quotes_category %>">
  <p>
    <strong>Quote:</strong>
    <%= quotes_category.quote_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= quotes_category.category_id %>
  </p>

</div>
