<h1>Editing quotes category</h1>

<%= render "form", quotes_category: @quotes_category %>

<br>

<div>
  <%= link_to "Show this quotes category", @quotes_category %> |
  <%= link_to "Back to quotes categories", quotes_categories_path %>
</div>
